.mainDiv{
    display:flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: .31rem 0;
    font-size: .8rem;
    margin-top: 10%;

    a{
        color:white;
        font-weight: 800;
    }
}