
    .dropbtn {
      // background-color: #4CAF50;
      // color: white;
      // padding: 16px;
      // font-size: 16px;
      border: none;
      // background-color: #f1f1f1;
      background-color: transparent;
      margin:  0 .21rem;
      cursor: pointer;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      // margin-right: 2rem;
      background-color: transparent;
    }
    
    .dropdownContent {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 90px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      // z-index: 5;
      padding-right: 2rem;
      right: 0;




      // margin-right: 2rem;
    }
    
    .dropdownContent a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      // margin-right: 2rem;
      background-color: #f1f1f1;
    }
    
  //   .dropdownContent a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdownContent {display: block;}

.mainDiv{
  $backgroundColor: #ffff;
  $cartIcon: #007E3E;

  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 0 5rem;
  width: 100%;
  margin: auto;
  height: 13vh;
  background-color: $backgroundColor;
  box-shadow: 0px 3px #888888;
    top:0;
    // width: 100%;
    position: fixed;
  .logoImg{
    height: 10vh;
    margin-left: 8rem;
  }
  .items{
      margin-right: 5rem;

        .ProfileIcons{
          // height: 8vh;
          font-size: 1.8rem;
          margin-right: 1rem;
          color: $cartIcon;
        }
    }
    .user{

      .userIcon{
        text-decoration: none;
        margin-right: 6rem;
        color: $cartIcon;
        font-weight: 700;

    
      }
    }
}

@media only screen and (max-width: 768px) {
  .mainDiv{
    .logoImg{
      height: 10vh;
      margin-left: 1.2rem;
    }
    .items{
      margin-right: 1rem;
    .ProfileIcons{
      font-size: 1.8rem;
    }
  }
  .user{

      .userIcon{
        text-decoration: none;
        margin-right: 1rem;
        

    
      }
    }
  }
}