.mainDiv{
    // border: 1px solid black;
    // width: 80%;
    // margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;

    .head{
        color: green;
        margin-bottom: 1rem;
    }
    .form{
        // border: 1px solid black;
    .input{
        color: green;
        border: 1px solid green;
       
    }
    label{
        color: green;
    }
    // ::placeholder{
    //     color: greenyellow;
    // }
    button{
        background-color: red;
        color: white;
        margin-top: 1rem;
        cursor: pointer;
        width: 100%;
        padding: .31rem 0;
    }
}
.anchor{
    margin-top: .5rem;
    font-size: .91rem;
    text-decoration: none;
}
}